.flag{
    position: relative;
    height: 600px;
    width: 900px;
    background-color: #CE1126;
}
.flag > div{
    position: absolute;
    background-color: #002868;
    width: 100%;
    height: 300px;
    top: 150px;
}
.flag>div>div{
    position: relative;
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top: 50px;
    left: 350px;
}
p{
    margin: 0px;
    font-size: 5rem;
    text-align: center;
    color: white;
}
div>div>p{
    color: black;
}